
/* Layout
-------------------------------------------------- */

body {
  min-height: 2000px;
  padding-top: 70px;
}

.work-top {
	margin-top: 125px;
}

/* Work
-------------------------------------------------- */

img {
	margin-top: 30px;
}

.credits {
	margin-top: 25px;
}

/* Contact
-------------------------------------------------- */

.contact {
	margin-top: 300px;
	margin-bottom: 200px;
	text-align: center;
}

a[href^="mailto"] {
	font-size: 30px;
	color: red; 
}